body {
    background-color: rgb(230, 230, 230);
}

container {
    width: 80%;
    margin: 0 auto;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.repo-item-link {
    text-decoration: none;
}

.error {
    text-align: center;
    color: red;
}